.jumbotron{
    height: 175px;
    background-image: url(../images/GOT_title.jpeg);
    opacity: .9;
}
.display-4{
    z-index: 1000;
    text-align: center;
    color: red;
}
#alphabet{
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
}
#alphabet li{
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 35px;
    height: 30px;
    padding-top: 10px;
    background: white;
    color: black;
    border: solid 1px black;
}
/* .buttons{
    background-color: black;
    color:white;
} */
/* button{
    background-color: grey;
} */
.container{
    background-color: darkgray;
    opacity:.6;
}
/* h2{
    color: black;
    font-size: 50px;
} */
.column{

}
.gameScreen{
    text-align: center;
    color: red;
    border: 2px solid black;
    margin: 10px auto;
    width: 90%;
    height: 500px;
    background-image: url(../images/GOT_throne.jpeg);
    opacity: .8;
}
.textColor{
    /* z-index: 1000; */
    opacity: 1;
}
/* #strikes{
    font-weight: bold;
    color: black;
} */